<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/html-head') %> 
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/nav') %> 

  <div class="container">
    <h1>Welcome to the Recipe Home Page</h1>
    <p class="intro-text">Start exploring your favorite recipes!</p>

    <img src="https://www.pngall.com/wp-content/uploads/2/Meal-PNG-High-Quality-Image.png" alt="Recipe Image" class="home-image">

    <a href="/recipes" class="btn">Go to All Recipes</a>
  </div>

</body>
</html>